      <header class="header">
        <div class="top-bar">
          <div class="header-actions">
            <button
              class="language-toggle-btn"
              data-test-id="language-toggle-btn"
              loading="false"
              lang="fr"
            >
              Français
            </button>
          </div>
        </div>
        <div class="logo-section">
          <div class="header-logo">
            <a href="#">
              <img class="logo" src="../../../assets/img/cibclogo.svg" alt="CIBC logo." />
            </a>
          </div>
        </div>
      </header>

  
