<div class="footer-section">
  <footer
    class="footer-container"
    style="display: flex; justify-content: flex-end; align-items: center"
  >
    <div class="footer-wrapper">
      <div class="footer-section-item">
        <h2 class="body-L">Quick Links</h2>
        <ul class="footer-section-item-links">
          <li>
            <a
              href="https://www.cibc.com/en/personal-banking.html"
              aria-label="Explore products. Opens in a new window."
              data-test-id="explore-products-link"
              target="_blank"
              class="anch"
              ><img
                src="../../../assets/img/products.svg"
                class="left"
                alt=""
              />
              Explore Products
              <!----></a
            >
          </li>
          <li>
            <a
              href="https://locations.cibc.com/?locale=en_CA"
              aria-label="Branch and ATM locator. Opens in a new window."
              data-test-id="branch-and-atm-locator-link"
              target="_blank"
              class="anch"
              ><img src="../../../assets/img/locator.svg" class="left" alt="" />
              Branch and ATM Locator
              <!----></a
            >
          </li>
          <li>
            <a
              href="https://www.cibc.com/en/contact-us.html"
              aria-label="Contact us. Opens in a new window."
              data-test-id="contact-us-link"
              target="_blank"
              class="anch"
              ><img src="../../../assets/img/phone.svg" class="left" alt="" />
              Contact Us
              <!----></a
            >
          </li>
        </ul>
      </div>
      <div class="footer-section-item">
        <h2 class="body-L">I'm Looking For</h2>
        <ul class="footer-section-item-links">
          <li>
            <a
              href="https://www.cibc.com/en/special-offers.html"
              aria-label="Special offers. Opens in a new window."
              data-test-id="special-offers-link"
              target="_blank"
              class="anch"
              ><!---->
              Special Offers
              <!----></a
            >
          </li>
          <li>
            <a
              href="https://www.cibc.com/en/sitemap.html"
              aria-label="Site map. Opens in a new window."
              data-test-id="site-map-link"
              target="_blank"
              class="anch"
              ><!---->
              Site Map
              <!----></a
            >
          </li>
        </ul>
      </div>
      <div class="footer-section-item">
        <h2 class="body-L">About CIBC</h2>
        <ul class="footer-section-item-links">
          <li>
            <a
              href="https://www.cibc.com/en/personal-banking/ways-to-bank.html"
              aria-label="Ways to bank. Opens in a new window."
              data-test-id="ways-to-bank-link"
              target="_blank"
              class="anch"
              ><!---->
              Ways to Bank
              <!----></a
            >
          </li>
          <li>
            <a
              href="https://www.cibc.com/en/about-cibc.html"
              aria-label="Our business. Opens in a new window."
              data-test-id="our-business-link"
              target="_blank"
              class="anch"
              ><!---->
              Our Business
              <!----></a
            >
          </li>
          <li>
            <a
              href="https://www.cibc.com/en/about-cibc/careers.html"
              aria-label="Careers. Opens in a new window."
              data-test-id="careers-link"
              target="_blank"
              class="anch"
              ><!---->
              Careers
              <!----></a
            >
          </li>
        </ul>
      </div>
      <div class="footer-section-item">
        <h2 class="body-L">Legal Information</h2>
        <ul class="footer-section-item-links">
          <li>
            <a
              href="https://www.cibc.com/en/privacy-security/internet-based-advertising.html"
              aria-label="Ad choices. Opens in a new window."
              data-test-id="ad-choices-link"
              target="_blank"
              class="anch"
              ><!---->
              AdChoices
              <img src="../../../assets/img/addc.svg" class="right" alt=""
            /></a>
          </li>
          <li>
            <a
              href="https://www.cibc.com/en/legal/agreements/electronic-access.html"
              aria-label="Electronic Access Agreement. Opens in a new window."
              data-test-id="electronic-access-agreement-link"
              target="_blank"
              class="anch"
              ><!---->
              Electronic Access Agreement
              <!----></a
            >
          </li>
          <li>
            <a
              href="https://www.cibc.com/en/legal/deposit-insurance.html"
              aria-label="CDIC Deposit Insurance Information. Opens in a new window."
              data-test-id="cdic-deposit-insurance-information-link"
              target="_blank"
              class="anch"
              ><!---->
              CDIC Deposit Insurance Information
              <!----></a
            >
          </li>
          <li>
            <a
              href="https://www.cibc.com/en/privacy-security.html"
              aria-label="Privacy and security. Opens in a new window."
              data-test-id="privacy-security-link"
              target="_blank"
              class="anch"
              ><!---->
              Privacy and Security
              <!----></a
            >
          </li>
          <li>
            <a
              href="https://www.cibc.com/en/legal.html"
              aria-label="Legal. Opens in a new window."
              data-test-id="legal-link"
              target="_blank"
              class="anch"
              ><!---->
              Legal
              <!----></a
            >
          </li>
          <li>
            <a
              href="https://www.cibc.com/en/privacy-security/cookie-policy.html"
              aria-label="Cookie Policy. Opens in a new window."
              data-test-id="cookie-policy-link"
              target="_blank"
              class="anch"
              ><!---->
              Cookie Policy
              <!----></a
            >
          </li>
          <li><!----></li>
          <li><!----></li>
        </ul>
      </div>
    </div>
    <span class="footer-release-version-number">EB64.6 v6.0.1</span>
  </footer>
</div>
